geckodriver.log
config.json
data
src/__pycache__/nas_api.cpython-38.pyc
src/__pycache__/scraper.cpython-38.pyc
src/requests.txt
src/attempts.txt
src/get_s_entry.txt
src/__pycache__/scraper_requests.cpython-38.pyc
